@model LastNumbersHtmlFormModel

@{
    ViewBag.TitleBegin = "Последно свалени номера за: Имущество, МПС, Имоти";
    ViewBag.TitleEnd = "ВЪВЕДИ последните номера от днес в BCPEA за: Имущество, МПС, Имоти";
}

<div class="row" asp-action="DownHtml">
    <h3 class="text-center">@ViewBag.TitleBegin</h3>
    <div class="col-sm-12">
        <div class="mb-2 text-center">
            <span class="pe-2">Последен номер в Имущество:   @Model.BeforeLastNumberAsset</span>
            <span class="pe-2">Последен номер в Коли:   @Model.BeforeLastNumberVechicle</span>
            <span class="pe-2">Последен номер в Имоти:   @Model.BeforeLastNumberProperties</span>
        </div>
    </div>
</div>

<hr />
<h3 class="text-center">@ViewBag.TitleEnd</h3>

<div class="row" asp-action="DownHtml">
         <form asp-action="DownHtml" method="post">
            <div class="mb-3">
                <label asp-for="@Model.LastNumberAsset" class="form-label-add-edit">Последният от днес номер в Имущество</label>
            <input asp-for="@Model.LastNumberAsset" class="form-control" aria-required="true" value=@(@Model.BeforeLastNumberAsset+1) />
                <span asp-validation-for="@Model.LastNumberAsset" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastNumberVechicle" class="form-label-add-edit">Последният от днес номер в Коли</label>
            <input asp-for="@Model.LastNumberVechicle" class="form-control" aria-required="true" value=@(@Model.BeforeLastNumberVechicle+1) />
                <span asp-validation-for="@Model.LastNumberVechicle" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastNumberProperties" class="form-label-add-edit">Последният от днес номер в Имоти</label>
            <input asp-for="@Model.LastNumberProperties" class="form-control" aria-required="true" value=@(@Model.BeforeLastNumberProperties+1) />
                <span asp-validation-for="@Model.LastNumberProperties" class="text-danger"></span>
            </div>
        <div class="mb-3">
            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" id="submit-numbers" type="submit" value="Submit" />
            
        </div>
        </form>
    <h2 id="pleaseWaitMessage" style="display: none;" class="text-center text-danger pt-2 pb-2">МОЛЯ, ИЗЧАКАЙТЕ! СВАЛЯТ СЕ HTML-ите ...</h2>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submit-numbers').click(function () {
            // Show "Please wait!" message
            $('#pleaseWaitMessage').show();
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
