@model DistributionWorkModel
@{
    ViewBag.Title = "РАЗПРЕДЕЛЯНЕ НА ФАЙЛОВЕ ЗА РАБОТА";
    ViewBag.Notefs = "НЯМА ФАЙЛОВЕ ЗА РАБОТА.";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h2>ОБЩ БРОЙ ФАЙЛОВЕ ЗА ЗА РАБОТА: @Model.NotReadyFilesCount</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="DistrubuteFiles" method="post">
            
           
            <div class="mb-3">
                <label asp-for="@Model.appUser" class="form-label-add-edit">Избери оператор</label>
                <select asp-for="@Model.appUser" class="form-control" aria-required="true">
                    <option disabled selected value="">Избери оператор ...</option>
                    @foreach (var user in Model.usersInfo)
                    {
                        <option value="@user.EmplUserId">@user.EmplFullName</option>
                    }
                </select>
                <span asp-validation-for="@Model.appUser" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.FilesToWorkForEmoloyee" class="form-label-add-edit">Изберете колко файла ще дадете на избрания операотр: </label>
                <input asp-for="@Model.FilesToWorkForEmoloyee" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.FilesToWorkForEmoloyee" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" id="submit-numbers" type="submit" value="Разпредели" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
