@model List<BrsFileValidationModel>

@{
    ViewBag.Title = "Съобщения от BCPEA с неупешна валидация/верификация - ";
}

<h3 class="text-center">@ViewBag.Title @Model.Count броя</h3>
<hr />

@if (Model != null && Model.Any())
{
    <form asp-action="CreateBrsFile" method="post">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="row-cols-1 mb-3">
                <h4>File @(i + 1)</h4>
                <div class="col-md-6 col-sm-6 mb-2">
                    <label asp-for="@Model[i].Code"></label>
                    <input asp-for="@Model[i].Code" />
                    <span asp-validation-for="@Model[i].Code" class="text-danger"></span>
                </div>
                <div class="row-cols-1 mb-3">
                @*<div class="col-md-6 col-sm-12 mb-2">*@
                    <label asp-for="@Model[i].Klas"></label>
                    <input asp-for="@Model[i].Klas" />
                    <span asp-validation-for="@Model[i].Klas" class="text-danger"></span>
                </div>
                <div class="row-cols-1 mb-3">
                    <label asp-for="@Model[i].Date"></label>
                    <input asp-for="@Model[i].Date" />
                    <span asp-validation-for="@Model[i].Date" class="text-danger"></span>
                </div>
                <div class="row-cols-1 mb-3">
                    <label asp-for="@Model[i].Dcng"></label>
                    <input asp-for="@Model[i].Dcng" />
                    <span asp-validation-for="@Model[i].Dcng" class="text-danger"></span>
                </div>
                <div class="row-cols-1 mb-3">
                    <label asp-for="@Model[i].Name"></label>
                    <input asp-for="@Model[i].Name" />
                    <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                </div>
                <div class="row-cols-1 mb-3">
                    <label asp-for="@Model[i].Text"></label>
                     <textarea asp-for="@Model[i].Text" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="@Model[i].Text" class="text-danger"></span>
                </div>
                </div>
            }
        <button type="submit">Validate</button>
    </form>
}
else
{
    <p>Няма грешни файлове за валидация спрямо таблица BrsFiles</p>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
