@model IEnumerable<BrsFileValidationModel>

@{
    ViewBag.Title = "Съобщения от BCPEA с неупешна валидация/верификация. Моля, да се коригират!";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@foreach(var file in Model)
{

    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form asp-action="CreateBrsFile" method="post">
                <div class="mb-3">
                    <label asp-for="@file.Code" class="form-label-add-edit">Edit Code</label>
                    <input asp-for="@file.Code" class="form-control" value="@file.Code" aria-required="true" />
                    <span asp-validation-for="@file.Code" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@file.Klas" class="form-label-add-edit">Edit Klas</label>
                    <input asp-for="@file.Klas" class="form-control" value="@file.Klas" aria-required="true" />
                    <span asp-validation-for="@file.Klas" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@file.Date" class="form-label-add-edit">Edit Date</label>
                    <input asp-for="@file.Date" class="form-control" aria-required="true" value="@file.Date" />
                    <span asp-validation-for="@file.Date" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@file.Dcng" class="form-label-add-edit">Edit Dcng</label>
                    <input asp-for="@file.Dcng" class="form-control" aria-required="true" value="@file.Dcng" />
                    <span asp-validation-for="@file.Dcng" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@file.Name" class="form-label-add-edit">Edit Name</label>
                    <input asp-for="@file.Name" class="form-control" value="@file.Name" />
                    <span asp-validation-for="@file.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@file.Text" class="form-label-add-edit">Edit Text</label>
                    <textarea asp-for="@file.Text" class="form-control" aria-required="true" value="@file.Text" rows="5"></textarea>
                    <span asp-validation-for="@file.Text" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add" />
                </div>
            </form>
        </div>
    </div>
}



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*@model List<BrsOnlyContent>
    
@{
    ViewBag.Title = "Съобщения от BCPEA с неупешна валидация/верификация";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-left row">
    @foreach (var message in Model)
    {
        <div class="card col-2" style="width: 20rem; ">
            <div class="card-body">
                <p class="card-title mt-1">@message.Id</p>
                <p class="card-title mt-1">@message.BrsFileNumber</p>
                <p class="card-title mt-1">@message.Title</p>
                <p class="card-title mt-1">@message.Date</p>
                <p class="card-title mt-1">@message.Price</p>
                <p class="card-title mt-1">@message.Address</p>
                <p class="card-title mt-1">@message.NameSI</p>
                <p class="card-title mt-1">@message.NumberSI</p>
                @foreach(string item in message.LabelGroups)
                {
                    <p class="card-title mt-1">@item</p>
                }
                <p class="card-title mt-1">@message.Text</p>

            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@



@*@{
    ViewBag.Please = "МОЛЯ, ИЗЧАКАЙТЕ!";
    ViewBag.Downloading = "ГЕНЕРИРАТ СЕ BRS-файловете";
}


<div class="container bg-gradient-warning text-center align-items-center m-5 p-5">
    <div class="mt-5 mb-5">
        <h1 class="text-center mt-5 mb-5">@ViewBag.Please</h1>
        <h3 class="mt-5 text-center"><em>@ViewBag.Downloading</em></h3>
    </div>
</div>
*@