@model FileFormModel
@inject IWorkingOnFilesService workingOnFilesService

<div class="row-cols-1 mb-1">
    @if (this.User.Identity.IsAuthenticated && 
                (await workingOnFilesService.ExistsEmployeeIdWitrhIdAsync(@Model.Id) == User.Id()))
    {
        <form asp-controller="WorkingOnFiles" asp-action="ShortEdit" method="post">
            <div class="p-3">
                <input class="btn btn-warning w-100 fw-bold" type="submit" value="Update" />
            </div>

            <line class="p-2 d-inline-flex">
                <label asp-for="@Model.Klas" class="form-label-add-edit text-secondary">Edit Klas</label>
                <input asp-for="@Model.Klas" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Klas" class="text-danger"></span>

                <label asp-for="@Model.Date" class="form-label-add-edit text-secondary">Edit Date</label>
                <input asp-for="@Model.Date" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Date" class="text-danger"></span>

                <label asp-for="@Model.Dcng" class="form-label-add-edit text-secondary">Edit Dcng</label>
                <input asp-for="@Model.Dcng" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Dcng" class="text-danger"></span>
            </line>

            <div class="mb-2">
                <label asp-for="@Model.Name" class="form-label-add-edit text-secondary">Edit Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="p-2">
                <label asp-for="@Model.Lica" class="form-label-add-edit text-secondary">Edit Lica</label>
                <input asp-for="@Model.Lica" class="form-control" aria-required="true" />
                <a href="https://web.apis.bg/srch.php?dt=38&sr=@Model.Lica" class="btn-info m-3" target="_blank">ApisLink</a>
                <span asp-validation-for="@Model.Lica" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.Scre" class="form-label-add-edit text-secondary">Edit Scre</label>
                <input asp-for="@Model.Scre" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Scre" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.Text" class="form-label-add-edit text-secondary">Edit Text</label>
                <textarea asp-for="@Model.Text" class="form-control" aria-required="true" rows="15"></textarea>
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
            </div>
        </form>
    }
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}